body {
    background-color: #000080;
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    padding-top: 20px;
}

@media screen and (max-width: 600px) {
    body {
        font-size: 14px;
    }
    .container {
        padding: 10px; 
    }

    .employee {
        padding: 10px; 
    }
}

@media screen and (min-width: 601px) {
    body {
        font-size: 16px;
    }
}

.container {
    max-width: 800px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

h1 {
    font-size: 46px;
    margin: 0;
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

h3 {
    font-family: Bungee;
    
}

.search {
    margin-bottom: 20px;
}

.search input[type="text"] {
    padding: 5px;
    width: 100%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.search button[type="submit"] {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    border: none;
    background-color: #0000FF;
    color: #000080;
    font-size: 16px;
    cursor: pointer;
}

.employee {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    gap: 20px;
}

.employee img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    flex-shrink: 0;
}

.employee-info {
    display: flex;
    flex-direction: column;
}

.employee-info h3 {
    font-size: 24px;
    margin: 0;
    line-height: 1.2;
    text-align: left;
}

.employee-info p {
    margin: 0;
    font-size: 18px;
    line-height: 1.5;
}

.footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #555;
}

p {
    text-align: left;
}

h5 {
    text-align: center;
}

.company-info {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 14px;
    color: #555;
}

.elaborado-por {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    color: #555;
}
